.body
{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
   /*text-align: center; */
}
.card
{
 padding: 20px;
 width:400px;
display: flex;
margin: 0 auto;
justify-content: space-around;
text-align: center;
border-bottom: 10px solid #d8cefe;
background: #ddebf8;
color: #2b2839;
} 
 
.pic
{
    width: 150px;
     
}
    
.desc
{
   width: 300px;
            
}  
.border-blue
{
 border: 1px dotted blue; 
}